<!DOCTYPE html>

<html>

<head>
<<<<<<< HEAD
    <p>changes from branch 123 to master</p>
=======
    <p>changes from branch to master</p>
>>>>>>> c5ef509e2c94941a31b9047ad3ede936389dc740
    <link rel="ion" href="/img/weath.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
       
        <img class="portrait" src="/img/me.png">
    </div>
    
    {{>footer}}
</body>

</html>
